################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Aptm2019/.vs/Aptm2019/v16/Server/sqlite3
