<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="Aptm2019Connection" connectionString="Server=den1.mssql8.gear.host;Initial Catalog=dpi2019db;User Id=dpi2019db;Password=@pw2019;Timeout=20000;Connection Lifetime=0" providerName="System.Data.SqlClient" />

    <add name="DBConnection" connectionString="Server=161.132.209.115;Initial Catalog=DB_A0A4E2_Base_CargaLAN;User Id=usr_solbase;Password=123456987;Timeout=20000;Connection Lifetime=0" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>